.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 120px;
}

.serviceBox {
  position: relative;
  background-color: #000000;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;

}

.serviceBox::before {
  content: '';
  position: absolute;
  background: radial-gradient(#787878, transparent, transparent);
  width: 400px;
  height: 400px;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease 0.5s;
  z-index: -2;
}

.serviceBox:hover::before {
  opacity: 1;
}

.serviceBox>i {
  font-size: 2.5rem;
  color: white;
  z-index: 2;
}

.serviceBox .servicehead {
  z-index: 1;
  color: white;
  margin-top: 28px;
}

.serviceBox>p {
  z-index: 1;
  color: white;
  margin-top: 16px;
  text-align: justify;
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets */
  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 120px;
  }
}

@media only screen and (max-width: 767px){
  .services {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 120px;
  }
}